
<ion-content scroll-y="false" class="mt-0 "  >
  
  <ion-refresher slot="fixed" [disabled]="refreshDisabled" (ionRefresh)="refresherListas($event)">
    <ion-refresher-content   
    ></ion-refresher-content>
  </ion-refresher>

  <form [formGroup]="buscarForm" class="sticky-top" >
    <ion-grid fixed class="p-0">
      <ion-row class="">
        <ion-col size="" class="px-1 col-bg d-flex align-items-center ">

          <ion-item class="input-col w-100">
            <ion-input placeholder="Buscar" formControlName="buscar" class="input-buscar "></ion-input>
            <ion-button type="button" expand="block" class="btn-buscar p-0" (click)="filtrarListaPrecio()"> 
              <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
          </ion-item>

        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col class="p-0">
          <ion-accordion-group [value]="['first']">
            <ion-accordion value="first">
              <ion-item slot="header" color="light" style="--min-height: 30px; border-top: 1px solid #fd821aad;">
                <ion-label style="margin: 0px; color: white; font-size: small;">Mas Filtros</ion-label>
              </ion-item>
              <div class="p-1" slot="content" style="border-bottom: 1px solid #00000024;">
                <ion-row>
                  <ion-col size="5" class="px-1 py-0">
                    <ion-item class="border rounded" style="--min-height: 32px; font-size: 14px; --border-width: 0 0 0 0;">
                      <ion-select placeholder="Punto Venta" class="p-0" formControlName="puntoVenta" (ionChange)="listaAlmacen()" >
                        <ion-select-option *ngFor="let puntoVenta of arrPuntoVenta" [value]="puntoVenta.Codigo">{{puntoVenta.Nombre}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="5" class="p-0">
                    <ion-item class="border rounded" style="--min-height: 32px; font-size: 14px; --border-width: 0 0 0 0;">
                      <ion-select placeholder="Almacen" class="p-0" formControlName="almacen">
                        <ion-select-option *ngFor="let almacen of arrAlmacen" [value]="almacen.ccod_almacen">{{almacen.cnom_almacen}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="2" class="px-1 py-0">
                    <ion-item class="border rounded" style="--min-height: 32px; font-size: 14px; --border-width: 0 0 0 0;">
                      <ion-select placeholder="Moneda" class="p-0" formControlName="moneda">
                        <ion-select-option value="S/">S/</ion-select-option>
                        <ion-select-option value="$">$</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  
                </ion-row>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    
    </ion-grid>

  </form>

  <cdk-virtual-scroll-viewport #elscroll itemSize="10"  class="ion-content-scroll-host" (scroll)="onWindowScroll($event)"> 
    <ion-list class="mb-3 p-0">
      <ion-card *ngFor="let listaPrecio of listaPrecios; let j = index; " class="mb-3 p-0 carta">
        <ion-card-header class="p-2" style="background: #a4c9ef;">
          <div class="row" style="margin-bottom: -6px;">
            <div class="col">
              <p class="mb-0 px-0 fw-bolder text-dark titulos">{{listaPrecio.Nombre}}</p>
            </div>
          </div>
          <div class="row mb-auto ">
            <div class="col">
              <p class="mb-1 px-0" style="font-size: 11px; color: gray; font-weight: 500;">{{listaPrecio.Codigo}}</p>
            </div>
          </div>
          <div class="row mb-0">
            <div class="col">
              <div class="row m-0">
                <div class="col-6 p-0 fw-bolder text-dark">Unidad: </div>
                <div class="col-6 px-1" style="font-weight: 500;">{{listaPrecio.Unidad}}</div>
              </div>
            </div>
            <div class="col-3 px-0">
              <div class="row m-0">
                <div class="col-6 p-0 fw-bolder text-dark">Factor: </div>
                <div class="col-6 px-1" style="font-weight: 500;">{{listaPrecio.Factor | number:'1.2-2'}}</div>
              </div>
            </div>
            <div class="col">
              <div class="row m-0">
                <div class="col-5 p-0 fw-bolder text-dark">Stock: </div>
                <div class="col-7 px-1" style="font-weight: 500;">{{listaPrecio.Stock | number:'1.2-2'}}</div>
              </div>
            </div>
          </div>
        </ion-card-header>

        <ion-card-content class="p-2">
          <div class="row mb-auto ">
            <div class="col-12" *ngIf="listaPrecio.LP1 == 0 && listaPrecio.LP2 == 0 && listaPrecio.LP3 == 0 && listaPrecio.LP4 == 0 && listaPrecio.LP5 == 0 && listaPrecio.LP6 == 0">
              <div class="row m-0" >
                <div class="col-12 p-0  text-dark">Todas las listas de precio estan en 0.00 .</div>
              </div>
            </div>

            <div class="col">
              <div class="row m-0" *ngIf="listaPrecio.LP1 != 0 && confListaPrecios[0].Visible == '1' ">
                <div class="col-7 p-0  text-dark">L. Precio 01: </div>
                <div class="col-5 px-1">{{ listaPrecio.LP1 == null ? 0 : listaPrecio.LP1  |number:'1.2-2' }}</div>
              </div>
            </div>
            <div class="col">
              <div class="row m-0" *ngIf="listaPrecio.LP4 != 0 && confListaPrecios[3].Visible == '1' ">
                <div class="col-7 p-0  text-dark">L. Precio 04: </div>
                <div class="col-5 px-1">{{ listaPrecio.LP4 == null ? 0 : listaPrecio.LP4  |number:'1.2-2' }}</div>
              </div>
            </div>
          </div>
          <div class="row mb-auto ">
            <div class="col">
              <div class="row m-0" *ngIf="listaPrecio.LP2 != 0 && confListaPrecios[1].Visible == '1' ">
                <div class="col-7 p-0  text-dark">L. Precio 02: </div>
                <div class="col-5 px-1">{{ listaPrecio.LP2 == null ? 0 : listaPrecio.LP2  |number:'1.2-2' }}</div>
              </div>
            </div>
            <div class="col">
              <div class="row m-0" *ngIf="listaPrecio.LP5 != 0 && confListaPrecios[4].Visible == '1' ">
                <div class="col-7 p-0  text-dark">L. Precio 05: </div>
                <div class="col-5 px-1">{{ listaPrecio.LP5 == null ? 0 : listaPrecio.LP5  |number:'1.2-2' }}</div>
              </div>
            </div>
          </div>
          <div class="row mb-auto ">
            <div class="col">
              <div class="row m-0" *ngIf="listaPrecio.LP3 != 0 && confListaPrecios[2].Visible == '1' ">
                <div class="col-7 p-0  text-dark">L. Precio 03: </div>
                <div class="col-5 px-1">{{ listaPrecio.LP3 == null ? 0 : listaPrecio.LP3  |number:'1.2-2' }}</div>
              </div>
            </div>
            <div class="col">
              <div class="row m-0" *ngIf="listaPrecio.LP6 != 0 && confListaPrecios[5].Visible == '1' ">
                <div class="col-7 p-0  text-dark">L. Precio 06: </div>
                <div class="col-5 px-1">{{ listaPrecio.LP6 == null ? 0 : listaPrecio.LP6  |number:'1.2-2' }}</div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-infinite-scroll *ngIf="estadoRecargar"  (ionInfinite)="recargarListaPrecios($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div class="mt-4 pt-4"></div>
    <div class="mt-4 pt-4"></div>
  </cdk-virtual-scroll-viewport>

</ion-content>

