cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}

table {
  font-size: 10px;
}

th,
td {
  padding: 3px;
}

//#region
.input-col {
  border-radius: 30px;
  --inner-padding-end: 0px !important;
  --min-height: 30px;
}

.input-buscar {
  --padding-bottom: 0px;
  --padding-top: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-end: 0px !important;
  min-height: 34px;
}

.btn-buscar {
  --background: transparent;
  --color: grey;
  --box-shadow: none;
}

.btn-filtrar {
  --border-color: #fd821a;
  --background: white;
  text-transform: none;
  --color: grey;
  --padding-start: 4px;
  --padding-end: 4px;
  --inner-padding-end: 0px;
}

.col-bg {
  background-color: #fd821a;
  --background: #fd821a !important;
}


.ion-color-light {
  --ion-color-base: #fd821a !important;
  --ion-color-base-rgb: var(--ion-color-light-rgb, 244, 245, 248) !important;
  --ion-color-contrast: var(--ion-color-light-contrast, #000) !important;
  --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb, 0, 0, 0) !important;
  --ion-color-shade: var(--ion-color-light-shade, #d7d8da) !important;
  --ion-color-tint: var(--ion-color-light-tint, #f5f6f9) !important;
}

//#endregion

th.from,
th.date {
  width: 100px;
}

.color-azul {
  color: var(--colorAzul)
}

.border-azul {
  border-color: rgb(117, 117, 174);
}