<app-menu (execIrRuta)="irRuta()"></app-menu>

<ion-content>
</ion-content>

<ion-tabs id="main-content">
  <ion-tab-bar slot="top" class="tab-bar-custom d-flex justify-content-between align-items-center" >
    <ion-tab-button style="max-width: 30px;"  class="erp-sidebar " >
      <ion-menu-toggle >
        <ion-button class="button-erp icon-color-erp2" >
          <ion-icon slot="" name="menu" class="icon-custom "></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-tab-button>

    <ion-tab-button tab="articulos" class="menu text-custom col-auto" >
      <ion-label class="textos" >Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="generarRequerimiento"  class="menu text-custom col-auto"  >
      <ion-badge class="fs-badge" color="tertiary">{{requerimientoService.arrCarrito.length}}</ion-badge>
      <ion-label class="textos" style="border: 1px solid;
      padding: 3px;
      border-radius: 9px;">Requerimiento</ion-label>
    </ion-tab-button>

    <ion-tab-button style="max-width: 30px;"  class="erp-sidebar" >
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>