ion-thumbnail {
  --border-radius: 10px;
  width: 50px;
  margin-top: 8px;
}

ion-icon{
  font-size: 20px;
}
.icono-erp{
  height:100%;
}

.cerrar-sesion{
  text-transform: none;
  font-size: 13px;
  color: rgb(0, 0, 128);
}


