
<ion-header class="my-2">
  <ion-segment value="Datos" class="" (ionChange)="cambiarVentana($event)">
    <ion-segment-button value="Datos" class="text-light textos" color="tertiary">
      <ion-label >Datos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Ubicacion" class="text-light textos">
      <ion-label>Ubicacion</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Foto" class="text-light textos">
      <ion-label>Foto</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <!-- <button class="btn btn-primary" >limepiar</button> -->

  <form [formGroup]="clienteForm" (ngSubmit)="agregarCliente(clienteForm)" [hidden]="ventanaActiv != 'Datos'">

    <ion-list class="pt-0 mb-3 ">
      <ion-item>
        <!-- <ion-label  position="stacked"  class="label-grande">Tipo Documento</ion-label> -->
        <ion-select label="Tipo Documento" labelPlacement="stacked" formControlName="tipoDocumento" (ionChange)="limiteDocu($event)" placeholder="Seleccione" class="textos" >
          <ion-select-option *ngFor="let tipo of arrTipDocumento" [value]="tipo.ccod_tdid" >{{tipo.Codigo}}-{{tipo.Nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item  class="ion-align-self-center">
        <!-- <ion-label position="floating" class=" label-grande">N° Documento</ion-label> -->
        <ion-input label="N° Documento" labelPlacement="floating" type="number" formControlName="nroDocumento" (ionChange)="maxNroDocumento($event)" class="textos"></ion-input>
        <ion-button (click)="verificarDocumento(clienteForm)" slot="end" type="button" expand="full" color="primary" class="ion-align-self-end custom-button" [disabled]="btnDisabled" >
          <ion-icon *ngIf="!cargando" slot="icon-only" name="search" class="iconos"></ion-icon>
          <ion-spinner *ngIf="cargando" name="bubbles" class="iconos"></ion-spinner>
        </ion-button>
      </ion-item>

      <ion-item class="d-none">
        <!-- <ion-label  position="stacked"  class="label-grande">Tipo Cliente</ion-label> -->
        <ion-select label="Tipo Cliente" labelPlacement="stacked" formControlName="tipoCliente" placeholder="Seleccione" class="textos">
          <ion-select-option [value]="grupo.grupo" *ngFor="let grupo of arrGrupoCliente">{{grupo.nombre}} </ion-select-option>
        </ion-select>
      </ion-item>

        <ion-item *ngIf="!estadoRuc">
          <!-- <ion-label position="stacked" class="label-grande">Nombres</ion-label> -->
          <ion-input label="Nombres" labelPlacement="stacked" formControlName="nombres" type="text" class="textos" ></ion-input>
        </ion-item>
    
        <ion-item *ngIf="!estadoRuc">
          <!-- <ion-label position="stacked" class="label-grande">Apellido Paterno</ion-label> -->
          <ion-input label="Apellido Paterno" labelPlacement="stacked" formControlName="apellidoP" type="text" class="textos"></ion-input>
        </ion-item>
        <ion-item *ngIf="!estadoRuc">
          <!-- <ion-label position="stacked" class="label-grande">Apellido Materno</ion-label> -->
          <ion-input label="Apellido Materno" labelPlacement="stacked" formControlName="apellidoM" type="text" class="textos"></ion-input>
        </ion-item>

      

      <ion-item *ngIf="estadoRuc">
        <!-- <ion-label position="stacked" class="label-grande">Nombre Comercial</ion-label> -->
        <ion-input label="Nombre Comercial" labelPlacement="stacked" formControlName="nombreComercial" type="text" class="textos"></ion-input>

      </ion-item>

      <ion-item>
        <!-- <ion-label position="stacked" class="label-grande">Pais</ion-label> -->
        <ion-select label="Pais" labelPlacement="stacked" formControlName="pais"  placeholder="Pais" class="textos">
          <ion-select-option *ngFor="let pais of arrPais" [value]="pais.Codigo">{{pais.Nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <!-- <ion-label position="stacked" class="label-grande">Departamento</ion-label> -->
        <ion-select label="Departamento" labelPlacement="stacked" formControlName="departamento"  placeholder="Departamento" (ionChange)="listaCiudad($event)"  class="textos">
          <ion-select-option *ngFor="let depart of arrDepartamento" [value]="depart.Codigo">{{depart.Nombre}} </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <!-- <ion-label position="stacked" class="label-grande">Ciudad</ion-label> -->
        <ion-select label="Ciudad" labelPlacement="stacked" formControlName="ciudad"  placeholder="Ciudad" (ionChange)="listaDistrito($event)" class="textos">
          <ion-select-option *ngFor="let ciudad of arrCiudad" [value]="ciudad.Codigo">{{ciudad.Nombre}} </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <!-- <ion-label position="stacked" class="label-grande">Distrito</ion-label> -->
        <ion-select label="Distrito" labelPlacement="stacked" formControlName="distrito"  placeholder="Distrito" class="textos">
          <ion-select-option *ngFor="let distrito of arrDistrito" [value]="distrito.Codigo">{{distrito.Nombre}} </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <!-- <ion-label position="stacked" class="label-grande">Dirección</ion-label> -->
        <ion-textarea label="Dirección" labelPlacement="stacked" formControlName="direccion" maxlength="255" class="textos"></ion-textarea>

      </ion-item>
      <ion-item>
        <!-- <ion-label position="stacked" class="label-grande">Telefono</ion-label> -->
        <ion-input label="Telefono" labelPlacement="stacked" formControlName="telefono" type="tel" class="textos"></ion-input>
      </ion-item>

      <ion-item>
        <!-- <ion-label position="stacked" class="label-grande">Email</ion-label> -->
        <ion-input label="Email" labelPlacement="stacked" formControlName="email" type="email" class="textos"></ion-input>
      </ion-item>

      
      
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light" style="--ion-color-base: #477ef3 !important; --ion-color-contrast: white !important;">
              <ion-icon name="add-circle"></ion-icon>
              <ion-label>Mas Datos</ion-label>
              
            </ion-item>
            <div class="ion-padding p-0" slot="content">
              <ion-item>
                <!-- <ion-label position="stacked" class="label-grande">Lista Precio</ion-label> -->
                <ion-select label="Lista Precio" labelPlacement="stacked" formControlName="listaPrecio"  placeholder="Lista Precio" class="textos">
                  <ion-select-option *ngFor="let listaPrecio of arrListaPrecios" [value]="listaPrecio.Codigo">{{listaPrecio.Nombre}} </ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <!-- <ion-label position="stacked" class="label-grande">Zona</ion-label> -->
                <ion-select label="Zona" labelPlacement="stacked" formControlName="zona01"  placeholder="Zona" class="textos">
                  <ion-select-option *ngFor="let zona01 of arrZona01" [value]="zona01.Codigo">{{zona01.Nombre}} </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <!-- <ion-label position="stacked" class="label-grande">Situacion</ion-label> -->
                <ion-select label="Situacion" labelPlacement="stacked" formControlName="situacion01"  placeholder="Situacion" class="textos">
                  <ion-select-option *ngFor="let situacion01 of arrSituacion01" [value]="situacion01.Codigo">{{situacion01.Nombre}} </ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      
    </ion-list>
  </form>


  <div [hidden]="ventanaActiv != 'Ubicacion' " #map id="map" >

  </div>
  <div [hidden]="ventanaActiv != 'Foto'" class="h-100 d-flex align-items-center" >
    <div class="px-3" >
      <swiper *ngIf="imagenesArr.length !=0" [config]="config" (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange($event)" class="" >
        <ng-template swiperSlide *ngFor="let img of imagenesArr" class="w-100 d-flex justify-content-center "  >
          <img [src]="img.src | imagen:'clientes'" class="w-auto" />
        </ng-template>
      </swiper>
      <ion-grid >
        <ion-row>
          <ion-col size="6" class="mx-auto">
            <ion-button  expand="block" color="success"   shape="round"  (click)="cambiarGaleria()" class="textos">
              <ion-icon slot="start"  name="create-outline" class="" ></ion-icon>
              Cambiar
            </ion-button>
          </ion-col>
          <ion-col size="6" class="mx-auto">
            <ion-button  color="danger"  expand="block"  shape="round" (click)="borrarImagen()"  class="textos">
              Borrar
              <ion-icon slot="start" name="trash-outline" class=""></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  
    
  </div>

  <ion-modal #cropperModal trigger="open-modal">
    <ng-template>
    
      <ion-content class="ion-padding " color="dark">

        <div class="h-100 d-flex justify-content-center align-items-center bg-dark">
          <div class="spinner-border bg-transparent" role="status"[hidden]="!cropperLoading">
            <span class="visually-hidden">Loading...</span>
          </div>
          <image-cropper [hidden]="cropperLoading" #cropper
            [maintainAspectRatio]="true"
            [aspectRatio]="1/1"
            format="jpeg"
            [imageQuality]=90
            [onlyScaleDown]=true
            [hideResizeSquares]="true"
            [imageURL] = 'imgCropear'
            (imageLoaded) ='imageLoaded()'
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
          <!-- <img [src]="imgCropear" alt="" class="img-cropper"> -->
        </div>
      </ion-content>

      <ion-footer class="border-top border-dark" >
        <ion-toolbar color="dark" >
          <ion-buttons slot="start">
            <ion-button fill="outline" color="danger" (click)="cancel()" style="text-transform: none;">
              <ion-icon slot="start" name="close-sharp"></ion-icon>
              Cancelar
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button fill="outline" color="success" (click)="generarCropper()" style="text-transform: none;">
              <ion-icon slot="start" name="checkmark-sharp"></ion-icon>
              Listo
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>

    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer>
  <ion-toolbar  class="border-top border-primary">

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" class="p-0">
          <ion-button (click)="cancelar()" expand="block"  class="" color="secondary">
            Cancelar 
          </ion-button>
        </ion-col>
        <ion-col size="6" class="p-0">

          <ion-button *ngIf="editarEstado" (click)="editarCliente()" expand="block" color="tertiary" >
            Editar
          </ion-button>
          <ion-button *ngIf="!editarEstado" (click)="agregarCliente(clienteForm)" expand="block" [disabled]="!btnDisabled">
              <span *ngIf="!agregandoCliente">Agregar</span>  
              <ion-spinner *ngIf="agregandoCliente" name="bubbles"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  
  </ion-toolbar>
</ion-footer>


