<ion-row class="ion-justify-content-between px-2 py-2 border-bottom title-documento">
  <ion-col>Promociones</ion-col>
  <ion-col class="text-end" (click)="close()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-col>
</ion-row>


<ion-list class="pt-0">
  <ion-card class="mb-2 ps-2 pe-4 pt-2 carta ">
    <div class="row mb-1">
      <div class="col-3">
        <ion-img [src]="documento.imagen_1 | imagen:'articulos'" class="img-thumbnail rounded "></ion-img>
      </div>
      <div class="col-9 d-flex flex-column px-0">
        <div class="row" style="margin-bottom: -6px;">
          <div class="col">
            <p class="mb-0 px-0 fw-bolder text-dark titulos">{{documento.nombre}}</p>
          </div>
        </div>
        <div class="row mb-auto ">
          <div class="col">
            <p class="mb-1 px-0" style="font-size: 11px; color: gray;">{{documento.codigo}}</p>
          </div>
        </div>

      </div>
    </div>
  </ion-card>
</ion-list>

<ion-content>

  <ion-accordion-group [multiple]="true" [value]="['first']">
    <ion-accordion value="first">
      <ion-item slot="header" color="light" style="--ion-color-base: #477ef3 !important; --ion-color-contrast: white !important; --min-height: 40px;">
        <ion-icon name="pricetags" class="ms-2"></ion-icon>
        <ion-label class="mx-3 ">Lista Descuentos</ion-label>
        
      </ion-item>
      <div class="ion-padding p-0" slot="content">
        <ion-card *ngFor="let descuento of documento.listaDescuentos" class="mb-2 px-0 py-2">
          <div class="row mx-0" *ngIf="descuento.codigo != null" >
            <div class="col-6">
              <div class="row mx-0">
                <div class="col-12">
                  <label class="font-weight-bold" style="display: contents; font-weight: bold; color: black;">Unidad:
                  </label>{{descuento.unidad}}
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-12">
                  <label class="font-weight-bold" style="display: contents; font-weight: bold; color: black;">Cant. Min:
                  </label> {{descuento.minimo | number:'1.2-2'}} 
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-12">
                  <label class="font-weight-bold" style="display: contents; font-weight: bold; color: black;">Cant. Max:</label>
                  {{descuento.maximo | number:'1.2-2'}} 
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row mx-0 px-2">
                <div class="col-12 px-1" style="background: #c92424; color: white; border-radius: 5px;">
                  <div class="row mx-0">
                    <div class="col-12 p-0" style="font-weight: bold;">Descuento</div>
                  </div>
                  <div class="row mx-0 ">
                    <div class="col-10 p-0" style="font-size: 35px; text-align: end; font-weight: bold; line-height: normal;">
                      {{descuento.descuento | number:'1.2-2'}}</div>
                    <div class="col-2 p-0" style="font-weight: bold;">%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light" style="--ion-color-base: #477ef3 !important; --ion-color-contrast: white !important; --min-height: 40px;">
        <ion-icon name="briefcase" class="ms-2"></ion-icon>
        <ion-label class="mx-3 ">Bonificaciones</ion-label>
        
      </ion-item>
      <div class="ion-padding p-0" slot="content">
        <ion-card *ngFor="let bonificacion of arrayBonificaciones" class="mb-2 px-0 py-2" style="background: #5f9ea085;">
          <div class="row mx-0">
            <div class="col-6">
              <label class="font-weight-bold" style="font-weight: bold; color: black;">Cant. Inicial:</label>
              {{bonificacion.erp_cant_ini | number:'1.2-2'}}
            </div>
            <div class="col-6">
              <label class="font-weight-bold" style="font-weight: bold; color: black;">Cant. Final:</label>
              {{bonificacion.erp_cant_fin | number:'1.2-2'}}
            </div>
          </div>
          <ion-row style="justify-content: space-evenly;">
            <ion-card *ngFor="let bonificacionDetalle of bonificacion.bonificacionDetalle" class="mb-2 px-0 py-2">
              <div class="row mb-1 mx-0">
                <div class="col-3">
                  <ion-img [src]="bonificacionDetalle.imagen_1 | imagen:'articulos'" class="img-thumbnail rounded "></ion-img>
                </div>
                <div class="col-9 d-flex flex-column px-0">
                  <div class="row" style="margin-bottom: -6px;">
                    <div class="col">
                      <p class="mb-0 px-0 fw-bolder text-dark titulos">{{bonificacionDetalle.cnom_articulo}}</p>
                    </div>
                  </div>
                  <div class="row mb-auto ">
                    <div class="col">
                      <p class="mb-1 px-0" style="font-size: 11px; color: gray;">{{bonificacionDetalle.erp_codart}}</p>
                    </div>
                  </div>
                  <div class="row mx-0">
                    <div class="col-6 p-0">
                      <label class="font-weight-bold" style="font-weight: bold; color: black;">Cant.:</label>
                      {{bonificacionDetalle.erp_cantidad | number:'1.2-2'}}
                    </div>
                    <div class="col-6 p-0">
                      <label class="font-weight-bold" style="font-weight: bold; color: black;">Unidad:</label>
                      {{bonificacionDetalle.erp_unidad}}
                    </div>
                  </div>
                </div>
              </div>
            </ion-card>
          </ion-row>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- <ion-row style="justify-content: space-evenly;">
    <ion-card *ngFor="let descuento of documento.listaDescuentos" class="mb-2 px-0 py-2">
      <div class="row mx-0">
        <div class="col-12">
          <label class="font-weight-bold" style="display: contents; font-weight: bold; color: black;">Cant. Min:
          </label> {{descuento.minimo | number:'1.2-2'}} {{descuento.unidad}}
        </div>
      </div>
      <div class="row mx-0">
        <div class="col-12">
          <label class="font-weight-bold" style="display: contents; font-weight: bold; color: black;">Cant. Max:</label>
          {{descuento.maximo | number:'1.2-2'}} {{descuento.unidad}}
        </div>
      </div>
      <div class="row mx-0 px-2">
        <div class="col-12 px-1" style="background: #c92424; color: white; border-radius: 5px;">
          <div class="row mx-0">
            <div class="col-12 p-0" style="font-weight: bold;">Descuento</div>
          </div>
          <div class="row mx-0 ">
            <div class="col-10 p-0" style="font-size: 40px; text-align: end; font-weight: bold; line-height: normal;">
              {{descuento.descuento | number:'1.2-2'}}</div>
            <div class="col-2 p-0" style="font-weight: bold;">%</div>
          </div>
        </div>
      </div>
    </ion-card>
  </ion-row> -->


</ion-content>