<ion-content>
  <ion-grid fixed class="p-0">
      <ion-row>
          <ion-col size="12" class="px-1 col-bg"
              style="height: 34px; text-align: center; font-weight: 600; color: white; border-bottom: 1px solid #c77129;">
              {{title}}
          </ion-col>
      </ion-row>
  </ion-grid>


  <form [formGroup]="agenciaForm" (ngSubmit)="agregarAgencia(agenciaForm)" >
      <ion-list class="pt-0 mb-3 ">
          <ion-item>
              <ion-label position="stacked" class="label-grande">Codigo</ion-label>
              <ion-input formControlName="codigo" type="text" class="textos"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked" class="label-grande">Nombre</ion-label>
              <ion-input formControlName="nombre" type="text" class="textos"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked" class="label-grande">Ruc</ion-label>
              <ion-input formControlName="ruc" type="text" class="textos"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked" class="label-grande">Direccion</ion-label>
              <ion-input formControlName="direccion" type="text" class="textos"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked" class="label-grande">Telefono</ion-label>
              <ion-input formControlName="telefono" type="text" class="textos"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked" class="label-grande">Email</ion-label>
              <ion-input formControlName="email" type="text" class="textos"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked" class="label-grande">Web</ion-label>
              <ion-input formControlName="web" type="text" class="textos"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked" class="label-grande">Contacto</ion-label>
              <ion-input formControlName="contacto" type="text" class="textos"></ion-input>
          </ion-item>

      </ion-list>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar class="border-top border-primary">
      <ion-grid fixed>
          <ion-row>
              <ion-col size="6" class="p-0">
                  <ion-button (click)="cancelar()" expand="block" class="" color="secondary">
                      Cancelar
                  </ion-button>
              </ion-col>
              <ion-col size="6" class="p-0">
                  <ion-button (click)="agregarAgencia(agenciaForm)" expand="block" color="tertiary" [disabled]="!btnDisabled">
                      Guardar
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>