
<ion-content class="" >
   <ion-list class="pt-0 ">

    <div class="titulo-produ d-flex align-items-center px-3 py-1">
      <ion-icon name="briefcase" class="ms-2"></ion-icon>
      <p class="mb-0 mx-3 ">Productos</p>
      <p class="mb-0 ms-auto ">T/C: {{this.carritoService.tipoCambioVenta}} </p>
    </div>
    
    <ion-card *ngFor="let articulo of arrayCarrito; let i =index "  class="mb-2 ps-2 pe-1 carta ">
      <div class="row d-flex align-items-center ">
        <div class="col-11 pe-0">
          <p class="mb-0 pl-3 fw-bolder text-dark ">{{articulo.Nombre}}</p>
        </div>
        <div class="col-1 my-0 py-0 ps-0" >
          <ion-button  size="small" fill="clear" color="danger" class="btn-borrar"  (click)="borrarArticulo(i)">
            <ion-icon name="close"></ion-icon>            
          </ion-button>
        </div>
      </div>
      <div class="row d-flex align-items-center mb-2 pe-2">
        <div class="col-3 pe-0">
          <ion-img [src]="articulo.imagen_1 | imagen:'articulos'" ></ion-img>
        </div>
        <div class="col pe-0">

          <div  *ngIf="articulo.Desc3 != 0 || articulo.Desc2 != 0">
            <ion-card-title class="mt-0 fw-bold text-muted text-decoration-line-through textos">
              {{articulo.moneda}} {{articulo.Unit * articulo.Cantidad | number: '1.0-2'}}
            </ion-card-title>
            <ion-card-title class="mt-0 fw-bold text-danger ">
              {{articulo.moneda}} {{ articulo.Importe | number: '1.0-2'}}
            </ion-card-title>
            
            <ion-card-subtitle *ngIf="articulo.tipo_descuento == 'P'" class="mt-0 text-primary ">
              <ion-icon name="gift-outline"></ion-icon>
              -{{ articulo.Desc3 || articulo.Desc2 }}% 
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="articulo.tipo_descuento == 'M'" class="mt-0 text-primary ">
              <ion-icon name="gift-outline"></ion-icon>
              -{{ articulo.Desc3 || articulo.Desc2 }}
            </ion-card-subtitle>
          </div>

          <div  *ngIf="articulo.Desc3 == 0 && articulo.Desc2 == 0">
            <ion-card-title class="mt-0 fw-bold text-danger ">
              {{articulo.moneda}} {{articulo.Importe | number: '1.0-2'}}
            </ion-card-title>
          </div>
        
          <div class="d-flex mt-2 ">
            <ion-card-subtitle class="mt-0 text-black ">Present. :{{articulo.Unidad }}</ion-card-subtitle>
          </div>
      
          <div class="d-flex mt-2" style="align-items: center">
            <ion-item class="ion-no-padding m-0 p-0">
              <ion-checkbox  class="checkbox-sm my-0 py-0"  (ionChange)="valorPromocion($event, articulo)" [checked]="articulo.check_bonificacion"></ion-checkbox>
              <ion-label  class="text-black my-0 py-0">Bonificación</ion-label>
            </ion-item>
          </div>
          <div class="row mt-1">
            <div class="col " >
              <button (click)="mostrarModalPromociones(articulo.articulo)" type="button" class="btn btn-link p-0 mb-0 color-azul btn-ver-lista  d-flex">
                Listas de Descuentos 
                <ion-icon name="menu"></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col-auto d-flex  border color-border px-2 py-0 mx-1 mt-auto textos">
          <ion-button type="button"  size="small" class="custom-button iconos m-auto" (click)="restarCantidad(articulo)" >
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <ion-input type="number" inputmode="numeric" [(ngModel)]="articulo.Cantidad" class="custom-input text-dark" [id]="i" (ionChange)="valorInput(articulo)" style="width: 30px; "></ion-input>
          <ion-button type="button"  size="small" class="custom-button iconos m-auto" (click)="sumarCantidad(articulo)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>

      </div>

    </ion-card>

    <ion-card  *ngIf="clienteExiste"   class="custom-border border-success ">
      <ion-card-header class="py-1 my-0 ">
        <ion-card-title class="titulos-grande">Datos del Cliente</ion-card-title>
        <ion-card-subtitle class=" mb-0 textos"><strong>Nombre:</strong> <span class="text-dark"> {{objCliente.cnom_cliente }}</span>  </ion-card-subtitle>
        <ion-card-subtitle class=" my-0 textos"><strong>N° Doc:</strong> <span class="text-dark"> {{objCliente.ndoc_id}}</span>  </ion-card-subtitle>
        <ion-card-subtitle class=" my-0 textos"><strong>Dirección:</strong> <span class="text-dark"> {{objCliente.cdireccion}}</span>   </ion-card-subtitle>
        <ion-card-subtitle class=" my-0 textos"><strong>Ubigeo:</strong> <span class="text-dark"> {{objCliente.cnom_distrito}} - {{objCliente.cnom_ciudad}} - {{objCliente.cnom_departamento}}</span>   </ion-card-subtitle>
        <ion-card-subtitle class=" my-0 textos"><strong>Zona:</strong> <span class="text-dark pe-1"> {{objCliente.cnom_zona}}</span> <strong>Lista Precio:</strong> <span class="text-dark"> {{objCliente.nombre_lista_precio}}</span>  </ion-card-subtitle>

        
      </ion-card-header>
      <ion-card-content class="custom-border-top border-success my-0 py-2 ">
        <ion-card-subtitle class=" my-0 textos"><strong>Vendedor:</strong> <span class="text-dark"> {{objVendedor.cnom_vendedor}}</span>   </ion-card-subtitle>

      </ion-card-content>

      <ion-card-content class="custom-border-top border-success my-0 py-2">
        <ion-card-title class="titulos-grande">Datos del Comprobante</ion-card-title>

      <form [formGroup]="pedidoForm">
        <ion-list class="py-0">
            
          <ion-item class="custom-item h-auto">
            <ion-label position="stacked" class="selects-grande">Dirección alternativa</ion-label>

            <ion-input  (keyup)="modificarDireccion()" placeholder="Dirección alternativa"  formControlName="direcciones" (dblclick)="eventoAbrirModal($event)" >

            </ion-input>

          </ion-item>


          <ion-item class="custom-item h-auto">
            <ion-label position="stacked" class="selects-grande">Agencia de Transporte</ion-label>
            <ion-select placeholder="Seleccione" interface="action-sheet"  formControlName="agencias">
              <ion-select-option *ngFor="let agen of carritoService.arrAgencias" [value]="agen.codigo" >{{agen.nombre}} </ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-item class="custom-item h-auto">
            <ion-label position="stacked" class="selects-grande">Tipo Documento</ion-label>
            <ion-select placeholder="Seleccione" interface="action-sheet" formControlName="tipoDocumento" (ionChange)="cambiarTalonar($event)">
              <ion-select-option [value]="docu.ctip_doc" *ngFor="let docu of arrTipoDocu">{{docu.cnom_doc}} </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <ion-item class="custom-item h-auto">
            <ion-label position="stacked" class="fs-3">Serie</ion-label>
            <ion-select placeholder="Seleccione" formControlName="serie" >
              <ion-select-option [value]="serie.cnum_serie" *ngFor="let serie of arrTalonar">{{serie.cnum_serie}} </ion-select-option>
            </ion-select>
          </ion-item> -->
          <ion-item class="custom-item h-auto">
            <ion-label position="stacked" class="selects-grande">Forma de Pago</ion-label>
            <ion-select placeholder="Seleccione" interface="action-sheet" formControlName="formaPago" class="custom-select"
              (ionChange)="formaPagoChange($event)">
              <ion-select-option [value]="forma.ccod_forpago" *ngFor="let forma of carritoService.arrFormasPago" >{{forma.cnom_forpago}} </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="custom-item h-auto">
            <ion-label position="stacked" class="selects-grande mb-2">Fecha de Entrega</ion-label>
            <ion-datetime-button datetime="datetime" class="textos"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true" >
              <ng-template >
                <ion-datetime #fecha locale="es-ES" id="datetime" color="tertiary" formControlName="fechaEntrega"  ></ion-datetime>
              </ng-template>
            </ion-modal>          
          </ion-item>

          <ion-item class="custom-item h-auto">
            <ion-label position="stacked" class="selects-grande mb-2">Glosa</ion-label>
            <ion-textarea  formControlName="glosa"></ion-textarea>
          </ion-item>

        </ion-list>
      </form>

      <ion-button expand="block" color="warning" size="small" (click)="seleccionarCliente()">Cambiar Cliente</ion-button>

      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-card class="py-0 " *ngIf="clienteExiste && !isSelecArticulo " >
    <ion-card-content class="py-2">
      <ion-button  expand="block" fill="outline" shape="round" class="text-custom" (click)="seleccionarArticulo()" >
        Agregar Producto
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="py-0 " *ngIf="!clienteExiste" >
    <ion-card-content class="py-2"   >
      <ion-button  expand="block" fill="outline" shape="round" class="text-custom" (click)="seleccionarCliente()">
        Seleccione un Cliente
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer >
  <div class="bg-success border border-dark text-light d-flex justify-content-between mx-2 px-3">
    <p class="mb-0 py-2">Total</p>
    <p class="mb-0 py-2">S/ {{carritoService.montoTotalesVenta.Importe | number: '1.2-2'}}</p>
  </div>
  <div class="bg-success text-light border border-dark mx-2 " style="height: 15px;">
  </div>
  <ion-toolbar  class="footer-color border-top border-dark">
    <ion-buttons slot="start">
      <ion-button color="danger"  fill="outline" class="button-footer " (click)="borrarTodos(true)">
        <ion-icon name="trash"></ion-icon>Eliminar Todo
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!--  -->
      <ion-button color="success"  fill="outline" class="button-footer " (click)="generarPedido()" 
      [disabled]="!clienteExiste">
        <ion-icon name="checkmark-done-sharp"></ion-icon>
        Finalizar Pedido
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>