ion-thumbnail {
    // --size: 140px;
    // --border-radius: 14px;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

.total{
    font-size: 20px;
}
.item-total{
    --inner-padding-bottom:0px;
    --inner-padding-top:0px;
    --min-height:auto;
}

.color-border{
    border-color: grey !important;
    border-radius: 20px;
}

  ion-input.custom-input{
    --padding-bottom:0px;
    --padding-top:0px;
    text-align: center;
    --border-style	:none;
    font-size: 13px;
    --padding-start:0px;
}
  
  ion-button.custom-button{
    // --border-radius:	50%;
    --border-color:transparent	;
  --padding-bottom	:0px;
  --padding-top	:0px;
  --padding-start	:0px;
  --padding-end	:0px;
  --border-style	:none;
  --box-shadow:0;
  font-size: 15px;
  --background: white;
  --color :black;
  }

.button-footer{
    text-transform: none;
}

.custom-border{
    border-style: dotted !important;
}

.custom-border-top{
    border-style: dotted none none none !important;
}

.custom-item{
    --inner-padding-end:0px;
    --inner-padding-start:0px;
    --padding-start:0px;
}


ion-select{
    --padding-bottom:0px;	
}

.titulo-produ{
   color: rgb(98, 98, 98);
   background-color: rgba(216, 216, 216, 0.672);
}

.btn-borrar{
    --padding-start:0px;
    --padding-end:0px;
    --padding-top:0px;
    --padding-bottom:0px;
}

.carta{
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 1px -2px, 
                rgb(0 0 0 / 14%) -2px -1px 2px 0px;
    border: 1px solid #cccccc;
  }


.text-custom{
--color: rgb(0, 0, 128);
--border-color	: rgb(0, 0, 128);
--ion-text-color-rgb: rgb(0, 0, 128);
}

.checkbox-sm{    
    --size: 0.7rem;
    margin-right: 0.2rem;
}
.color-azul{
color: rgb(0, 0, 128);
}
.btn-ver-lista{
font-size: 11px; 
text-decoration: none;
}
.btn-ver-lista:focus{
box-shadow:none;
}
.modal_descuentos_titulos{
  font-size: 12px;
  color:rgb(0, 0, 128);
  border-color: #fd821a!important;
}
.modal_descuentos_body{
  font-size: 9px;
  border-color: #fd821a!important;
}
.modal_descuentos_titulos .border{
  // border-color: #fd821a!important;
}
.modal_descuentos_body .border{
  // border-color: #fd821a!important;
}