<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarImagenesModal()" color="danger">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-title>Imagenes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div class="h-100 d-flex align-items-center">
    <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange($event)">
      <ng-template swiperSlide *ngFor="let img of arrImagenes" class="w-100 d-flex justify-content-center">
        <div class="swiper-zoom-container">
          <img [src]="img.src | imagen:'clientes' " class="w-auto" />
        </div>
      </ng-template>
    </swiper>
  </div>
</ion-content>