<style>
    .card_containter{
        font-family: 'Courier New', Courier, monospace!important;
    }
    #leafletMap {
        height: 100%;
    }
    .icon_bottom {
        position: fixed;
        left: 0;
        bottom: 10px;
        right: 0;
    }

    .check-container {
        width: 6.25rem;
        height: 6.25rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    .check-container .check-background {
        width: 100%;
        height: calc(100% - 1.25rem);
        background: linear-gradient(to bottom right, #5de593, #41d67c);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
        transform: scale(0.84);
        border-radius: 50%;
        animation: animateContainer 0.75s ease-out forwards 0.75s;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
        
    .check-container .check-background svg {
        width: 65%;
        transform: translateY(0.25rem);
        stroke-dasharray: 80;
        stroke-dashoffset: 80;
        animation: animateCheck 0.35s forwards 1.25s ease-out;
    }
    .check-container .check-shadow {
        bottom: calc(-15% - 5px);
        left: 0;
        border-radius: 50%;
        background: radial-gradient(closest-side, #49da83, transparent);
        animation: animateShadow 0.75s ease-out forwards 0.75s;
    }

    .container_asistencia {
        animation: animateShadow 0.75s ease-out forwards 0.75s;
    }

    @keyframes animateContainer {
        0% {
            opacity: 0;
            transform: scale(0);
            box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
        }
        25% {
            opacity: 1;
            transform: scale(0.9);
            box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
        }
        43.75% {
            transform: scale(1.15);
            box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
        }
        62.5% {
            transform: scale(1);
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
        }
        81.25% {
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
        }
        100% {
            opacity: 1;
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
        }
    }
    @keyframes animateCheck {
        from {
            stroke-dashoffset: 80;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
    @keyframes animateShadow {
        0% {
            opacity: 0;
            width: 100%;
            height: 15%;
        }
        25% {
            opacity: 0.25;
        }
        43.75% {
            width: 40%;
            height: 7%;
            opacity: 0.35;
        }
        100% {
            width: 85%;
            height: 15%;
            opacity: 0.25;
        }
    }
</style>

<ion-content>
    <ion-card-header class="p-2 card_containter" [hidden]=ishidden>
        <form [formGroup]="formMarcador" class="mx-4 px-4 ">
            <div class="row">
                <div class="col-12 text-center pb-2">
                    <ion-label class="textos" style="color: #596066; font-weight: bolder;" id ="persona_nombre" >REGISTRO DE ASISTENCIA</ion-label>
                </div>
            </div>
            
            <div class="row pt-3" style="align-items: center">
                <div class="col-lg-5 col-sm-5 col-4" style="text-align: right">
                    <ion-label class="textos" style="color: #2385ee; font-weight: bolder; " >DNI</ion-label>
                </div>
                <div class="col-lg-2 col-sm-4 col-5 text-center px-0">
                    <input type="text" class="form-control form-control-sm text-center"  #personaCodigoInput formControlName="persona_codigo"  (keydown)="onKeyDown_personacodigo($event)">
                </div>
                <div class="col-2">
                    <ion-button (click)="btn_marcarentrada()">&#10003;</ion-button>
                </div>
            </div>
            <div class="row" style="text-align: center">
                <ion-label class="ws ms-auto" style="color: #25406f; font-size: 0.8rem;" > {{fecha_hora}} </ion-label>
            </div>

            
            <div class="border-top my-2"></div>


            <div #div_asistencia  [hidden]=div_marcadorasistencia >
                <div class="row" style="justify-content: center">
                    <div class="col-sm-4 col-4 pt-3 text-center" >
                        <img src="https://erp-solutionsperu.com/img/no-image.png" class="border border-success rounded-circle rounded ">
                    </div>
                </div>
                <div class="col-12 text-center pt-3">
                    <ion-label class="textos" style="color: #2385ee; font-weight: bolder;" id ="persona_nombre" >Nombres y Apellidos</ion-label>
                </div>
                <div class="col-12 text-center py-0 my-0">
                    <ion-label class="iconos text-dark " style="font-weight: bolder;" id ="persona_documento"></ion-label>
                </div>
                <div class="col-12 text-center pt-2" >
                    <ion-label class="py-0 my-0 ws ms-auto" style="color: #1bab0e; font-weight: bolder; font-size: 1.2rem;" >&#x2713; {{hora_marcador}}</ion-label>
                </div>
                <div class="col-12 text-center" >
                    <ion-label class="py-0 my-0 ws ms-auto" style="color: #1bab0e; font-weight: bolder; font-size: 1.1rem;" >{{fecha_marcador}}</ion-label>
                </div>

                <div class="row justify-content-md-center" style="justify-content: center"  >
                    <div class="check-container" >
                        <div class="check-background">
                            <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <div class="check-shadow"></div>
                    </div>
                </div>
            </div>

        </form>        
    </ion-card-header>
    <ion-card-header class="p-2" [hidden]=!ishidden>
        <form [formGroup]="formMarcador" >
            <ion-card-content class="custom-border-top border-success my-0 py-2">
                <ion-card-title class="titulos-grande">Este módulo esta en desarrollo</ion-card-title>
            </ion-card-content>
        </form>        
    </ion-card-header>
</ion-content>