<app-menu [sistema]="modulo" (execIrRuta)="irRuta()"></app-menu>

<ion-content>
</ion-content>

<ion-tabs id="main-content">
  <ion-tab-bar slot="top" class="tab-bar-custom d-flex justify-content-between align-items-center">
    <ion-tab-button style="max-width: 30px;" class="erp-sidebar ">
      <ion-menu-toggle>
        <ion-button class="button-erp " class="icon-color-erp2">
          <ion-icon slot="" name="menu" class="icon-custom "></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-tab-button>

    <ion-tab-button tab="articulos" class="menu text-custom col-auto" (click)="eventoActualizarArticulos()">
      <ion-label class="textos">Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listaPrecios" class="menu text-custom col-auto">
      <ion-label class="textos">ListaPrecios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clientes" class="menu text-custom col-auto">
      <ion-label class="textos">Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito" class="menu icon-color-erp pe-1" style="max-width: 45px;">

      <ion-badge class="fs-badge" color="tertiary">{{carritoS.arrCarrito.length}}</ion-badge>
      <ion-icon name="cart" class="icon-custom"></ion-icon>

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>