<ion-content scroll-y="false">

  <ion-refresher slot="fixed" (ionRefresh)="refresherClientes($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <form [formGroup]="formulario" (ngSubmit)="buscarClientes(formulario)">

    <ion-grid fixed class="p-0">
      <ion-row>
        <ion-col size="12" class="px-1 col-bg" style="height: 44px;">
          <ion-item class="input-col">
            <ion-input placeholder="Buscar" formControlName="buscar" class="input-buscar "></ion-input>
            <ion-button slot="end" type="submit" expand="block" class="btn-buscar p-0">
              <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <cdk-virtual-scroll-viewport itemSize="10" class="ion-content-scroll-host ">
    <ion-grid class="mt-2">
      <ion-row class="bg-gris mb-3 " *ngFor="let cliente of clientes;" (click)="agregarCarritoCliente(cliente)">
        <ion-col size="" class="p-3">
          <p class="text-danger my-0 titulos">
            {{cliente.cnom_cliente}}
          </p>
          <p class="my-0 textos">
            {{cliente.ccod_cliente}}
          </p>
          <p *ngIf="cliente.cdireccion != ''" class="my-0 text-muted text-break font-direc textos">
            {{cliente.cdireccion}}
          </p>

          <div class="d-flex justify-content-between textos">
            <p *ngIf="cliente.ctelefonos != ''" class="my-0 w-auto">
              <ion-icon name="call" color="success" slot="icon-only"></ion-icon>{{cliente.ctelefonos}}
            </p>
            <p *ngIf="cliente.ctelefonos == ''" class="my-0 text-muted w-auto">
              --Sin Telefono--
            </p>

          </div>
          <div class="d-flex justify-content-between textos">
            <p class="my-0 w-auto">
              Credito S/:{{cliente.nlinea_credito_mn}}
            </p>
            <p class="my-0 ">
              Credito $:{{cliente.nlinea_credito_mn}}
            </p>
          </div>
        </ion-col>
        <ion-col size="4" *ngIf="!clienteService.clientesOn" class="textos">
          <ion-button type="button" expand="block" fill="outline" color="medium" class="c-b iconos"
            [routerLink]="cliente.ccod_cliente">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          
          <ion-button type="button" expand="block" fill="outline" color="secondary" class="c-b iconos"
            (click)="abrirDireccionesAlternativasModal(cliente)">
            Direc. Altern.
          </ion-button>

          <ion-button type="button" expand="block" fill="outline" class="c-b iconos"
            (click)="abrirMapaModal(cliente.lat,cliente.lng)">
            <ion-icon name="location-sharp"></ion-icon>
          </ion-button>
          <ion-button type="button" expand="block" fill="outline" color="success" class="c-b iconos"
            (click)="abrirImagenesModal(cliente)">
            <ion-icon name="images"></ion-icon>
          </ion-button>
          
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-infinite-scroll *ngIf="scrollear" (ionInfinite)="recargarClientes($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </cdk-virtual-scroll-viewport>

  <!-- <ion-modal [isOpen]="mapaOpen" (ionModalDidPresent)="modalMapaListo()" (ionModalDidDismiss)="modalMapaSeCerro()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cerrarMapaModal()" color="danger">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Mapa</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <div #map id="map"></div>


      </ion-content>
    </ng-template>
  </ion-modal> -->

  <ion-modal [isOpen]="direccionesOpen" (ionModalDidDismiss)="cerrarDireccionesAlternativasModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cerrarDireccionesAlternativasModal()" color="danger">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
          </ion-buttons>
          <ion-title>Direcciones Alternativas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-card class="mx-0 mb-3 ps-2 pe-2 pt-2 carta " *ngIf="formOpenDireccion">
          <div class="row m-0">
            <form [formGroup]="direccionForm" class="p-0">
              <ion-list class="pt-0 mb-1 d-none">
                <ion-item>
                  <ion-label position="stacked" class="label-grande">Item</ion-label>
                  <ion-input formControlName="item" type="text" class="textos" ></ion-input>
                </ion-item>
              </ion-list>

              <ion-list class="pt-0 mb-1 ">
                <ion-item>
                  <ion-label position="stacked" class="label-grande">Direccion</ion-label>
                  <ion-input formControlName="direccion" type="text" class="textos" ></ion-input>
                </ion-item>
              </ion-list>


              <ion-item class="mb-2" [button]="true" [detail]="false" id="select-ubigeo" (click)="abrirModalUbigeos()">
                <ion-label position="stacked" class="selects-grande">Ubigeo</ion-label>
                <ion-select placeholder="Seleccione"  formControlName="ubigeo" >
                  <ion-select-option *ngFor="let ubigeo of arrUbigeos" [value]="ubigeo.Codigo" >{{ubigeo.Nombre}} </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-modal [isOpen]="ubigeoOpen"  #modal>
                <ng-template>
                  <app-typeahead
                    class="ion-page"
                    title="Ubigeos"
                    [items]="arrUbigeos"
                    (selectionChange)="ubigeoSelectionChanged($event)"
                    (selectionCancel)="cerrarModalUbigeos()"
                  ></app-typeahead>
                </ng-template>
              </ion-modal>

            </form>
            <ion-row class="mb-1">
              <ion-col size="6" class="p-0">
                  <ion-button expand="block" color="tertiary" (click)="guardarDireccion(direccionForm)">
                      Guardar
                  </ion-button>
              </ion-col>
              <ion-col size="6" class="p-0">
                <ion-button expand="block" color="danger" (click)="cerrarFormDireccion()">
                    Cancelar
                </ion-button>
            </ion-col>
          </ion-row>
          </div>
        </ion-card>

        <ion-card *ngFor="let direccion of arrDirecciones " class="mx-0 mb-3 ps-2 pe-2 pt-2 carta ">
          <div class="row m-0">
              <div class="col-12 p-0">
                  <div class="row mb-0">
                      <div class="col-3 pe-0">
                          <p class="mb-0 px-0 fw-bolder text-dark text-informacion">Dirección:</p>
                      </div>
                      <div class="col-9 px-0">
                          <p class="mb-0 px-0 text-dark text-informacion">{{direccion.direccion}}</p>
                      </div>
                  </div>
                  <div class="row mb-0">
                      <div class="col-3 pe-0">
                          <p class="mb-0 px-0 fw-bolder text-dark text-informacion">Cod. Ubigeo:</p>
                      </div>
                      <div class="col-9 px-0">
                          <p class="mb-0 px-0 text-dark text-informacion">{{direccion.ubigeo}}</p>
                      </div>
                  </div>
                  <div class="row mb-0">
                      <div class="col-3 pe-0">
                          <p class="mb-0 px-0 fw-bolder text-dark text-informacion">Ubigeo:</p>
                      </div>
                      <div class="col-9 px-0">
                          <p class="mb-0 px-0 text-dark text-informacion">{{direccion.nombre_ubigeo}}</p>
                      </div>
                  </div>
 

                  <div class="row mb-1">
                    <div class="col-6">
                        <ion-button fill="solid" expand="block" class="mx-auto btn-footer" color="warning" (click)="changeEstadoDirrecion({evento: 'editar', formOpen: true, direccion})">
                            <ion-icon slot="start" name="pencil"></ion-icon>
                            Modificar
                        </ion-button>
                    </div>
                    <div class="col-6">
                      <ion-button fill="solid" expand="block" class="mx-auto btn-footer" color="danger" (click)="changeEstadoDirrecion({evento: 'eliminar', formOpen: true, direccion})">
                        <ion-icon slot="start" name="trash"></ion-icon>
                        Eliminar
                    </ion-button>
                    </div>
                </div>
              </div>
          </div>
        </ion-card>

      </ion-content>

      <ion-footer collapse="fade"> 
        <ion-toolbar>
          <ion-grid fixed>
            <ion-row class="ion-justify-content-center">
              <ion-col size="7" >
                <ion-button type="button"  expand="block" fill="solid" (click)="changeEstadoDirrecion({evento: 'guardar', formOpen: true})" [disabled]="isAgregarDireccion">
                  Agregar Direccion
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-footer> 

    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer collapse="fade" >
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7">
          <ion-button type="button" expand="block" fill="outline" routerLink="nuevo">
            <ion-icon name="person-add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>