<ion-content scroll-y="false" class="mt-0 ">

  <ion-refresher slot="fixed" [disabled]="refreshDisabled" (ionRefresh)="refresherArticulos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form [formGroup]="formulario" (ngSubmit)="buscarArticulos(formulario)" class="sticky-top">

    <ion-grid fixed class="p-0">
      <ion-row class="">
        <ion-col size="" class="p-0 px-1 col-bg d-flex align-items-center">
          <ion-item class="input-col w-100">
            <ion-input placeholder="Buscar" formControlName="buscar" class="input-buscar"></ion-input>
            <!-- CAMBIO PARA LUBRICANTES -->
            <ion-button type="button" expand="block" (click)="buscarArticulos(formulario)" class="btn-buscar p-0">
              <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="auto" class="p-0 px-1 col-bg">
          <ion-button (click)="cambiarFiltro()" shape="round" class="btn-filtrar textos">
            <ion-icon name="options-outline"></ion-icon>
            Filtros
          </ion-button>
          <ion-select #filtroSelect class="d-none" formControlName="filtro">
            <ion-select-option value="Articulos">Productos</ion-select-option>
            <ion-select-option value="Familias">Familias</ion-select-option>
            <ion-select-option value="SubFamilias">SubFamilia</ion-select-option>
            <ion-select-option value="Concepto1">Concepto 1</ion-select-option>
            <ion-select-option value="Concepto2">Concepto 2</ion-select-option>
            <ion-select-option value="Concepto3">Concepto 3</ion-select-option>
            <ion-select-option value="Concepto4">Concepto 4</ion-select-option>
            <ion-select-option value="Concepto5">Concepto 5</ion-select-option>
            <ion-select-option value="Concepto6">Concepto 6</ion-select-option>
            <ion-select-option value="Concepto7">Concepto 7</ion-select-option>
          </ion-select>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="p-0 px-1 col-bg d-flex" *ngIf="modulo != 'tomadorPedidos'" >
          <ion-button (click)="mostrarModalDocumentosPendientes('Pedido')" shape="round" class="btn-filtrar textos w-100">
            <ion-icon name="clipboard"></ion-icon>
            Pedidos
          </ion-button>
        </ion-col>
        <ion-col [size]="modulo != 'tomadorPedidos' ? modulo == 'facturacion' ? '6' : '9' : '12'" class="p-0 px-1 col-bg d-flex ">
          <ion-button (click)="cambiarListaPrecio()" shape="round" class="btn-filtrar textos w-100">
            <ion-icon name="options-outline"></ion-icon>
            Lista de Precios
          </ion-button>
          <ion-select #listapreciosSelect class="d-none" formControlName="listaprecios"
            (ionChange)="actualizarListaPrecio()">
            <ion-select-option value="lista_precios_lima">Lima</ion-select-option>
            <ion-select-option value="lista_precios_provincia">Provincia</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="3" class="p-0 px-1 col-bg d-flex" *ngIf="modulo == 'facturacion'" >
          <ion-button (click)="mostrarModalDocumentosPendientes('Guia')" shape="round" class="btn-filtrar textos w-100">
            <ion-icon name="clipboard"></ion-icon>
            Guias
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <cdk-virtual-scroll-viewport #elScroll itemSize="10" class="ion-content-scroll-host"
    (scroll)="onWindowScroll($event)">

    <ion-list class="mb-3">
      <ion-card *ngFor="let articulo of listaArticulos; let j = index; " class="mb-4 ps-2 pe-4 pt-2 carta ">
        <div class="row" style="margin-bottom: -6px;">
          <div class="col">
            <p class="mb-0 px-0 fw-bolder text-dark titulos">{{articulo.nombre}}</p>
          </div>
        </div>
        <div class="row mb-auto ">
          <div class="col">
            <p class="mb-1 px-0" style="font-size: 11px; color: gray;">{{articulo.codigo}}</p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-4 pe-0">
            <ion-img [src]="articulo.imagen_1 | imagen:'articulos'" class="img-thumbnail rounded "
              (click)="abrirImagenesModal(articulo)"></ion-img>
            
              <div class="row mt-1">
                <div class="col pe-0">
                  <ion-item class="ion-no-padding m-0 p-0" style="--min-height: 25px;">
                    <ion-label class="text-black my-0 py-0" style="font-size: 12px; padding-left: 5px;">Bonificación
                    </ion-label>
                    <ion-checkbox justify="end" class="checkbox-sm my-0 py-0" (ionChange)="valorPromocion($event, articulo)">
                    </ion-checkbox>
                  </ion-item>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-9 px-0">
                  <button type="button" style="font-size: 12px; padding-left: 15px;" class="btn btn-link py-0 my-0 color-azul btn-ver-lista  d-flex align-items-center" (click)="mostrarModalPromociones(articulo)">
                    Promociones
                  </button>
                </div>
                <div class="col-3 px-0">
                  <ion-icon name="eye"></ion-icon>
                </div>
              </div>
  
          </div>
          <div class="col-8 d-flex flex-column">
            <div class="row align-self-end d-flex">
              <div class="col-auto align-self-end d-flex">
                <div class="row align-self-end d-flex align-items-center">
                  <div class="col-auto">
                    <ion-label class="py-0 my-0  ms-auto">Cantidad</ion-label>
                  </div>
                  <div class="col-auto align-self-end d-flex border border-suma px-2 py-0 ms-auto textos-pequeño align-items-center" style="width: 90px; ">
                    <ion-button type="button" (click)="restarCantidad(articulo)" size="small"class="custom-button iconos-pequeño">
                      <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>

                    <ion-input type="number" inputmode="numeric" [(ngModel)]="articulo.cantidad" class="custom-input text-dark textos-pequeño" [id]="articulo.codigo"
                      (ionChange)="valorInput(articulo)" style="width: 30px; "></ion-input>
                      
                    <ion-button type="button" (click)="sumarCantidad(articulo)" size="small"class="custom-button iconos-pequeño">
                      <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-flex  mt-1 align-self-end">
              <div class="col-auto align-self-end d-flex">
                <div class="row align-self-end d-flex align-items-center">
                  <div class="col-auto">
                    <div *ngIf="articulo.descuento_monto_porcentaje == 'P'">
                      <ion-label class="py-0 my-0 color_descuento">Dscto. 02 %</ion-label>
                    </div>
                    <div *ngIf="articulo.descuento_monto_porcentaje == 'M'">
                      <ion-label class="py-0 my-0 color_descuento">Dscto</ion-label>
                    </div>
                  </div>
                  <div
                    class="col-auto align-self-end d-flex border border-suma px-2 py-0 ms-auto textos-pequeño align-items-center "
                    style="width: 90px; text-align-last:right">
                    <ion-input [(ngModel)]="articulo.descuento" class="color_descuento custom-input textos-pequeño text-right" [id]="articulo.codigo"
                      (ionChange)="valorDescuento(articulo, 'desc02')" [disabled]="descuentoVendedor == 0? false : true"></ion-input>
                  </div>
                </div>
              </div>
            </div>

            <div class="row d-flex  mt-1 align-self-end">
              <div class="col-auto align-self-end d-flex">
                <div class="row align-self-end d-flex align-items-center">
                  <div class="col-auto pt-1 px-1">
                    <ion-checkbox justify="end" class="checkbox-sm my-0 py-0" (ionChange)="activarDescuento3($event, articulo)">
                    </ion-checkbox>
                  </div>
                  <div class="col-auto">
                    <div>
                      <ion-label class="py-0 my-0 color_descuento">Dscto. 03 %</ion-label>
                    </div>
                  </div>
                  <div class="col-auto align-self-end d-flex border border-suma px-2 py-0 ms-auto textos-pequeño align-items-center "
                    style="width: 90px; text-align-last:right">
                    <ion-input [(ngModel)]="articulo.descuento3" class="color_descuento custom-input textos-pequeño text-right" [id]="articulo.codigo" (ionChange)="valorDescuento(articulo, 'desc03')" [disabled]="!articulo.check_descuento3"></ion-input>
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="row align-self-end mt-1 titulos d-flex align-items-center">
              <div class="col-auto color-azul pe-0">Stock:</div>
              <div class="col-auto color-azul pe-1">
                <select class="form-select  moneda border-0 color-azul " [value]="articulo.cunidad">
                  <option *ngFor="let lista of articulo.listaPrecios  " [value]="articulo.cunidad">
                    {{articulo.Stock/lista.factor| number: '1.0-2'}} {{lista.unidad}}
                  </option>
                </select>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-auto ms-auto p-0 d-flex flex-column">
                <div class="row" style="height: 21px;">
                  <select class="form-select  moneda border-0 color-azul" style="text-align: end; padding-right: 13px;" [value]="articulo.moneda">
                    <option value="S/">S/</option>
                    <option value="$">$</option>
                  </select>
                </div>
                <div class="row" style="height: 21px;"></div>
                <div class="row" style="height: 21px;">
                  <span>Precio Venta: </span>
                </div>
              </div>
              <div class="col-auto pe-0 table-responsive">
                <table class="table table-bordered table-fs mb-0 ">
                  <tbody>
                    <tr>
                      <td class="align-middle p-custom text-center " style="font-size: 12px;" *ngFor="let lista of articulo.listaPrecios ">{{lista.unidad}}</td>
                    </tr>
                    <tr>
                      <td class="align-middle text-center p-0 " style="font-size: 12px;" *ngFor="let lista of articulo.listaPrecios"> ({{lista.factor |number:'1.1-2'}})</td>
                    </tr>
                    <tr>
                      <td class="p-custom align-middle text-center " *ngFor="let lista of articulo.listaPrecios ; let i = index;">
                        <ion-button type="button"(click)="agregarCarrito(articulo, lista)" class="btnPrecioListaArticulos "> {{ articulo.check_bonificacion == true ? '0.00' : lista.monto |number:'1.2-2' }} </ion-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <ion-modal #modal>
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="modal.dismiss()" color="danger">
                        <ion-icon name="close-circle-outline"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                    </ion-buttons>
                    <ion-title>Promociones</ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <div class="col-auto ">
                    <div class="row text-center modal_descuentos_titulos">
                      <div class="col-4 border">Producto</div>
                      <div class="col-2 border">Unid</div>
                      <div class="col-2 border">Min</div>
                      <div class="col-2 border">Max</div>
                      <div class="col-2 border">Dsc%</div>
                    </div>
                    <div class="row modal_descuentos_body" *ngFor="let lista of articulo.listaDescuentos">
                      <div class="col-4 border">{{articulo.nombre}}</div>
                      <div class="col-2 border text-center">{{lista.unidad}}</div>
                      <div class="col-2 border text-end">{{lista.minimo | number:'1.2-2'}}</div>
                      <div class="col-2 border text-end">{{lista.maximo | number:'1.2-2'}}</div>
                      <div class="col-2 border text-end">{{lista.descuento | number:'1.2-2'}}</div>
                    </div>
                  </div>
                </ion-content>

                <ion-footer>
                  <ion-toolbar>
                  </ion-toolbar>
                </ion-footer>

              </ng-template>
            </ion-modal>

          </div>
        </div>
      </ion-card>
    </ion-list>

    <ion-infinite-scroll *ngIf="estadoRecargar" (ionInfinite)="recargarArticulos($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div class="mt-4 pt-4"></div>
    <div class="mt-4 pt-4"></div>
  </cdk-virtual-scroll-viewport>

</ion-content>