
.input-custom{
    margin: 0px;
}

.card-item-header{
    --min-height:48px;
    --padding-start: 8px;
    --inner-padding-end: 8px;
    --inner-border-width: 0 0 2px 0;
    --highlight-height: 2px;
    --inner-padding-top: 0px;
    --inner-padding-bottom: 25px;
}

.content-detalle_documento{
    font-size: 12px;
}

.header-requerimiento{
    --min-height:20px;
   }
   